body {
    width: 500px;
    margin: 0 auto;
  }

/* Egusi styling */
.head {
    background: orange;
    font-size: 18px;
    text-align: center
}

.center {
    text-align: center;
}

ul {
    color: red;
}

#step {
    color: green;
}

/* Pizza Styling */
.avatar {
    background: pink;
    font-size: 18px;
    text-align: center
}

.photo {
    text-align: center
}

.code {
    color: darkred;
}

.get {
color: chocolate;

}